<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orvba_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orvba_android"
        android:usesCleartextTraffic="true">
        <activity android:name=".pView_service_center"/>
        <activity android:name=".pView_mechanic"/>
        <activity android:name=".PUBLICHOME"/>
        <activity android:name=".pFeedback"/>
        <activity android:name=".Ip_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Custom_view_service_center_traffic" />
        <activity android:name=".View_service_center_traffic" />
        <activity android:name=".Custom_view_service_center" />
        <activity android:name=".View_service_center" />
        <activity android:name=".Traffic_registration1" />
        <activity android:name=".Custom_view_complaints_traffic" />
        <activity android:name=".View_complaints_traffic" />
        <activity android:name=".Request_mechanic_traffic" />
        <activity android:name=".Custom_mechanic_traffic" />
        <activity android:name=".View_mechanic_traffic" />
        <activity android:name=".Feedback_traffic" />
        <activity android:name=".Traffic_home" />
        <activity android:name=".Request_mechanic" />
        <activity android:name=".Request_status" />
        <activity android:name=".Feedback" />
        <activity android:name=".Report_complaint" />
        <activity android:name=".View_petrol_pump" />
        <activity android:name=".View_mechanic" />
        <activity android:name=".User_home" />
        <activity android:name=".User_registration" />
        <activity android:name=".MainActivity">

        </activity>

        <service android:name=".LocactionService" />
    </application>

</manifest>